html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

html {
  -webkit-text-size-adjust: 100%;
}
html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  position: relative;
  width: 100%;
}

body {
  background-color: #fbfbfb;
  color: #6d6d6d;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
}

label {
  display: block;
  font-size: 1em;
  position: relative;
}

input {
  border: 1px solid #e4e4e4;
  font-size: 1em;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  padding: 0.5em;
  position: relative;
  width: 100%;
}


#root {
  height: 100%;
  position: relative;
  width: 100%;
}