@import "../../assets/styles/mixins/_all.scss";

.track-list {
  height: 100%;
  padding-bottom: 1px;
  padding-top: 1px;
  position: relative;
  width: 100%;
}

.track-list__list {
  list-style: none;
  margin: 0;
  padding: 6.4em 0 4em 0;
  position: relative;

  @include breakpoint(md) {
    padding: 6.4em 0 0 0;
  }
}

.track-list--album {
  .track-list__list {
    @include breakpoint(md) {
      padding: 0;
    }
  }
}

.track-list__list > li {
  display: block;
  position: relative;
}