@import "../../assets/styles/mixins/_all.scss";

.app {
  height: 100%;
  position: relative;
  width: 100%;
}
.app__row--primary {
  height: 100%;
  padding-bottom: 1px;
  padding-top: 1px;
  position: relative;
  width: 100%;
}

.app__row--secondary {
  background-color: #ffffff;
  bottom: 0;
  box-shadow: 0px 0px 12px -4px rgba(0,0,0,0.59);
  left: 0;
  opacity: 0.9;
  position: fixed;
  right: 0;

  /**
    Move offscreen include an offset
  **/
  transform: translate3d(0, calc(100% + 1em),0);
  transition-property: transform, opacity;
  transition-duration: 0.5s;
  transition-timing-function: cubic-bezier(0.455, 0.030, 0.515, 0.955); 

  @include breakpoint(md) {
    bottom: 0;
    box-shadow: 0px 0px 12px -2px rgba(0, 0, 0, 0.7);
    height: 100%;
    left: auto;
    right: 0;
    top: 0;
   /**
     Move offscreen include an offset
    **/
    transform: translate3d(calc(100% + 1em),0,0);
    transition-duration: 0.4s;
    width: 60%;
    max-width: 45em;
    z-index: 2;
  }
}

.app--is-active {
  .app__row--secondary {
    opacity: 1;
    transform: translate3d(0,0,0);
  }
}