@import "../../assets/styles/mixins/_all.scss";

.album {
  background-color: #ffffff;
  height: 100%;
  position: relative;
  width: 100%;
}

.album__footer {
  bottom: 0;
  border-top: 4px solid #f1f1f1;
  height: calc(100% - 20em);
  left: 0;
  overflow-y: scroll;
  position: absolute;
  right: 0;
}


/**
 Hide for mobile 
**/
.album__footer, .album__header {
  display: none;
  @include breakpoint(md) {
    display: block;
  }
}
