@import "../../assets/styles/mixins/_all.scss";

.no-results {
  bottom: 0;
  height: 100%;
  left: 0;
  position: absolute;
  right: 0;
  top:0;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.no-results--is-album-active {
  @include breakpoint(md) {
    width: calc(100% - 59%);
  }
  @include custompoint(75em) {
    width: calc(100% - 44em);
  }
}

@keyframes quoteIntro {
  0%   {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.no-results__quote {
  animation-duration: 4s;
  animation-fill-mode: forwards;
  animation-name: quoteIntro;
  animation-timing-function: cubic-bezier(0.455, 0.030, 0.515, 0.955);

  font-size: 0.8em;
  line-height: 2.5em;
  max-width: 80em;
  padding: 1em;
  position: relative;
  @include breakpoint(md) {
    font-size: 1em;
  }
  @include breakpoint(lg) {
    font-size: 1.2em;
  }
}
.no-results__quote-text {
  color: #afafaf;
  font-size: 2em;
  font-weight: normal;
}

.no-results__quote-cite {
  text-align: right;
}