@import "../../assets/styles/mixins/_all.scss";

.track-list-button-album {
  background-color: #ffffff;
  border: none;
  border-bottom: 1px solid #eaeaea;
  cursor: pointer;
  display: block;
  font-size: 0.85em;
  height: 100%;
  padding: 1em;
  position: relative;
  transition-property: background-color, opacity;
  transition-duration: 0.4s;
  transition-timing-function: cubic-bezier(0.455, 0.030, 0.515, 0.955);
  width: 100%;
  @include clearfix;
}

.track-list-button-album:hover, .track-list-button-album:focus {
  background-color: #f3f3f3;
  outline: none;
  transition-duration: 0.2s;
}

.track-list-button-album--is-selected {
  opacity: 0.6;
  transition-duration: 0.2s;
  pointer-events: none;
}


.track-list-button-album__number {
  display: block;
  float: left;
  line-height: 1.7;
  position: relative;
  width: 2em;
}

.track-list-button-album__group {
  display: block;
  float: right;
  line-height: 1.5;
  padding-left: 1em;
  padding-right: 4em;
  position: relative;
  text-align: left;
  width: calc(100% - 2em);
}

.track-list-button-album__track, .track-list-button-album__collection {
  display: block;
  position: relative;
}
.track-list-button-album__track {
  font-weight: bold;
}

.track-list-button-album__collection {
  color: #505050;  
}