@import "../../assets/styles/mixins/_all.scss";

.track-list-button {
  background-color: #ffffff;
  border: none;
  border-bottom: 1px solid #eaeaea;
  cursor: pointer;
  display: block;
  font-size: 1em;
  padding: 1em;
  position: relative;
  height: 100%;
  transition-property: background-color, opacity;
  transition-duration: 0.4s;
  transition-timing-function: cubic-bezier(0.455, 0.030, 0.515, 0.955);
  width: 100%;
  @include clearfix;
}

.track-list-button--is-selected {
  opacity: 0.6;
  transition-duration: 0.2s;
  pointer-events: none;
}

.track-list-button:hover, .track-list-button:focus {
  background-color: #f3f3f3;
  outline: none;
  transition-duration: 0.2s;
}

.track-list-button__details {
  display: block;
  float: right;
  line-height: 1.4;
  padding: 0.5em;
  position: relative;
  text-align: left;
  width: calc(100% - 5em);
}
.track-list-button__track, .track-list-button__artist, .track-list-button__collection  {
  display: block;
  font-size: 0.8em;
  position: relative;
}
.track-list-button__track {
  font-weight: bold;
}

.track-list-button__artwork {
  border: 1px solid #e6e6e6;
  display: block;
  float: left;
  height: 3.5em;
  margin-top: 0.3em;
  position: relative;
  width: 4em;
}