@import "../../assets/styles/mixins/_all.scss";

.search {
  background-color: #fff;
  border-bottom: 1px solid #e8e8e8;
  box-shadow: 0px 0px 12px -4px rgba(0, 0, 0, 0.6);
  height: 6.3em;
  left: 0;
  padding: 1em;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 1;
}

.search__group {
  position: relative;
  width: 100%;
  @include clearfix;
  @include breakpoint(md) {
    max-width: calc(40% - 1em);
  }
}

.search__input {
  float: left;
  position: relative;
  width: calc(100% - 2.4em);
}

.search__btn {
  background-color: #f7f7f7;
  border: 1px solid #e2e2e2;
  box-shadow: 0px 0px 8px -3px rgba(0, 0, 0, 0.55);
  cursor: pointer;
  float: right;
  font-size: 1em;
  height: 2.25em;
  margin-bottom: 0.5em;
  margin-top: 0.5em;
  position: relative;

  transition-property: background-color;
  transition-duration: 0.7s;
  transition-timing-function: cubic-bezier(0.455, 0.030, 0.515, 0.955);

  width: 2.4em;
  
}

.search__btn:after {
  background-image: url('./assets/svgs/icon-search.svg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: 45%;
  bottom: 0;
  content: '';
  display: block;
  height: 100%;
  left: 0;
  opacity: 0.5;
  pointer-events: none;
  position: absolute;
  right: 0;
  top:0;
  transition-property: opacity;
  transition-duration: 0.7s;
  transition-timing-function: cubic-bezier(0.455, 0.030, 0.515, 0.955);
  width: 100%;
}

.search__btn:hover, .search__btn:focus {
  background-color: #e8e8e8;
  transition-duration: 0.2s;
  &:after {
    opacity: 0.7;
    transition-duration: 0.2s;
  }
}

.search__btn-text {
  @include visuallyHidden;
}