@import "../../assets/styles/mixins/_all.scss";

.player {
  border-top: 4px solid #fff;
  position: relative;
  @include clearfix;
  @include breakpoint(md) {
    border-top: none;
  }
}

.player__duration {
  background-color: rgba(0, 0, 0, 0.2);
  height: 4px;
  left: 0;
  position: absolute;
  width: 100%;
  right: 0;
  top: -4px;

  @include breakpoint(md) {
    right: auto;
    top: 13em;
    left: calc(50% - 7.65em);
    max-width: 15em;
  }
}

.player__duration-bar {
  bottom: 0;
  left: 0;
  position: absolute;
  top:0;
  background-color: #eaeaea;
}

.player__header {
  float: left;
  position: relative;
  @include clearfix;
  width: calc(100% - 5em);

  @include breakpoint(md) {
    float: none;
    padding-top: 0.5em;
    width: 100%;
  }
}

.player__body {
  float: right;
  position: relative;
  width: 5em;

  @include breakpoint(md) {
    float: none;
    margin-left: auto;
    margin-right: auto;
    position: absolute;
    top: 4.7em;
    width: 100%;
    z-index: 10;
  }
}


.player__image {
  float: left;
  height: 3.6em;
  position: relative;
  width: 4em;

  @include breakpoint(md) {
    box-shadow: 0px 2px 7px -2px rgba(0, 0, 0, 0.59);
    float: none;
    height: 10.6em;
    margin: 1em auto;
    position: relative;
    width: 12em;
  }
}

.player__image:after {
  @include breakpoint(md) {
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.13) 1%, rgba(0,0,0,0.4) 100%);
    content: '';
    display: block;
    height: 100%;
    position: absolute;
    width: 100%;
    z-index: 1;
  }
}

.player__detail {
  float: right;
  line-height: 1.6;
  padding: 0.7em 1em;
  position: relative;
  width: calc(100% - 4em);

  @include breakpoint(sm) {
    line-height: 1.4;  
  }
  
  @include breakpoint(md) {
    float: none;
    line-height: 0.8;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1.7em;
    max-width: 32em;
    text-align: center;
    width: 100%;
  }
}

.player__detail--mobile {
  display: block;
  @include breakpoint(md) {
    display: none;
  }
}

.player__detail--desktop {
  display: none;
  @include breakpoint(md) {
    display: block;
  }
}

.player__detail-title, .player__detail-text {
  font-size: 0.7em;
  margin: 0;
  position: relative;
}

.player__detail-title {
  @include breakpoint(md) {
    font-size: 1.2em;
  }
}

.player__detail-artist {
  @include breakpoint(md) {
    margin-top: 0.8em;
    margin-bottom: 0.6em;
  }
}


.player__detail-text {
  color: #777;
  @include breakpoint(sm) {
    font-size: 0.8em;
    line-height: 1.5;
  }
}

.player__button {
  color: #ffffff;
  background-color: transparent;
  border: none;
  cursor: pointer;
  display: block;
  font-size: 1em;
  height: 3.6em;
  padding: 1.2em 0;
  position: relative;
  width: 100%;

  @include breakpoint(md) {
    border: 3px solid rgba(255,255,255,0.5);
    border-radius: 50%;
    height: 4em;
    margin-left: auto;
    margin-right: auto;
    transition-property: border-color;
    transition-duration: 1s;
    transition-timing-function: cubic-bezier(0.455, 0.030, 0.515, 0.955);
    transition-delay: 0.3s;
    width: 4em;
  }
}


.player__button:hover, .player__button:focus {
  outline: none;
  transition-duration: 0.2s;
  transition-delay: 0s;
  @include breakpoint(md) {
    border-color: rgba(255,255,255, 1);
  }
}

.player__button-icon {
  background-position: center;
  background-repeat: no-repeat;
  background-size: 45%;
  display: block;
  height: 2em;
  left: calc(50% - 1em); 
  position: absolute;
  top: calc(50% - 1em);
  transition-property: opacity;
  transition-duration: 1s;
  transition-timing-function: cubic-bezier(0.455, 0.030, 0.515, 0.955);
  width: 2em;
  opacity: 0.6;
}

.player__button:hover, .player__button:focus {
  transition-duration: 0.3s;
  transition-delay: 0.2s;
  .player__button-icon {
    opacity: 1;
  }
}

.player__button-icon--pause {
  background-image: url('./assets/svgs/icon-pause-inverse.svg');
  background-size: 40%;
  @include breakpoint(md) {
    background-image: url('./assets/svgs/icon-pause.svg');
  }
}
.player__button-icon--play {
  background-image: url('./assets/svgs/icon-play-inverse.svg');
  @include breakpoint(md) {
    background-image: url('./assets/svgs/icon-play.svg');
    left: calc(50% - 0.9em);
  }
}

.player__button-text {
  @include visuallyHidden;
}
  