.image {
  bottom: 0;
  background-color: #ffffff;
  display: block;
  height: 100%;
  left: 0;
  position: absolute;
  width: 100%;
  right: 0;
  top:0;
}

.image__image {
  display: none;
}

.image__base {
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100%;
  display: block;
  height: 100%;
  position: relative;
  opacity: 0;
  transition-duration: 0s;
  transition-property: opacity, visibility;
  transition-timing-function: cubic-bezier(0.455, 0.030, 0.515, 0.955);
  width: 100%;
  visibility: hidden;
}

.image--is-loaded {
  .image__base {
    opacity: 1;
    visibility: visible;
    transition-duration: 1s;
  }
}