@import "../../assets/styles/mixins/_all.scss";

.track-list-item {
  font-size: 0.9em;
  position: relative;
  @include breakpoint(sm) {
    font-size: 1em;
  }
}

.track-list-item:after {
  background-image: url('./assets/svgs/icon-sound-inverse.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: 50%;
  border: 2px solid rgba(0, 0, 0, 0.43);
  border-radius: 50%;
  content: '';
  display: block;
  height: 2em;
  opacity: 0;
  position: absolute;
  width: 2em;
  right: 1em;
  top: calc(50% - 1em);
  transition-property: transform, opacity;
  transition-duration: 1s;
  transition-timing-function: cubic-bezier(0.455, 0.030, 0.515, 0.955);
  transform: scale(0.7);
  z-index: 0;

  @include breakpoint(md) {
    right: 62%;
  }
}

.track-list-item--is-album:after {
  right: 1em;
}

.track-list-item--is-playing:after {
  opacity: 0.3;
  transform: scale(1);
  transition-duration: 0.2s;
}

/**
 Hide button for desktop
 Due to different requirements
**/
.track-list-item__group--is-mobile {
  display: block;
  @include breakpoint(md) {
    display: none;
  }
}

/**
  Show button for desktiop,
  Hide for mobile
**/
.track-list-item__group--is-desktop {
  display: none;
  @include breakpoint(md) {
    display: block;
  }
}
